html {
    -webkit-text-size-adjust: 100%;
    --yellow: #fbbe02;
    --yellow-light: rgba(251, 190, 2, 0.1);
    --blue: #1b4a6b;
    --bg-dark: #f4f4f5;
    --bg-light: #f9f8f6;
    --brown: #968858;
    --green: hsla(122, 39%, 49%, 1);
    --green-light: hsla(122, 39%, 89%, 1);
    --shadow-big: 0 0 100px 0 rgba(155, 142, 131, 0.1);
    --shadow-small: 0 0 50px 0 rgba(155, 142, 131, 0.1);
    --blue-light: #b6c4dc;
}

.mdc-drawer .mdc-list-item--activated {
    color: #1b4a6b;
}

.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
    color: #1b4a6b;
}

.mdc-data-table .mdc-data-table__header-cell {
    font-weight: 600;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background: var(--bg-dark);
    font-family: 'Open Sans', HelveticaNeue, Arial;
    color: #444;
}

.main-content {
    margin-left: 255px;
    height: 100%;
    overflow-y: hidden;
}

.main-content .mdc-drawer-app-content {
    margin-top: 29px;
}

.bold {
    font-weight: bold;
}

.editTextField {
    all: unset;
    max-width: -webkit-fill-available !important;
    padding: 5px 0px !important;
    border: unset !important;
    width: 382px;
}

.link {
    color: #3591d0;
    text-decoration: none;
    cursor: pointer;
}

.delete-link {
    color: #f44336;
}

.link:hover {
    text-decoration: underline;
}

.editDetailsButton {
    float: right;
    margin: 20px;
}

.pointerCursor {
    cursor: pointer;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.mdc-list-item__meta {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.mdc-list-item__graphic {
    color: rgba(0, 0, 0, 0.54);
}

.moreInfoListItem {
    color: #000000de;
}

.mdc-list-group__subheader {
    font-weight: 600;
}

.chart-container {
    width: calc(100% - 37px);
    margin: 20px;
    margin-right: 30px;
}

.chart-container p {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.charts-container {
    margin-bottom: 20px;
    margin-left: 382px;
}

.notifications-container {
    margin-bottom: 20px;
}

.notifications-container .header {
    position: fixed;
    width: 367px;
    background: #fffffff2;
    height: 35px;
    z-index: 99;
    color: #217177;
    font-size: 17px;
    font-weight: 400;
    padding-top: 16px;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
}

/* Spinner */
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 99999999;
}

.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #212121 transparent #212121 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Text Fields */
input[type='text'], input[type='password'], input[type='number'] {
    border: 1px solid transparent;
    background-color: #f1f1f180;
    padding: 10px;
    font-size: 15px;
    border-radius: 11px;
}

select:focus {
    outline: unset;
}

select {
    border: 1px solid transparent;
    background-color: #f1f1f180;
    padding: 10px;
    font-size: 15px;
    border-radius: 11px;
    width: 187px;
}

input[type='text']:focus {
    outline: unset;
}

input[type='date'] {
    border: 1px solid transparent;
    background-color: #f1f1f180;
    padding: 10px;
    font-size: 15px;
    border-radius: 11px;
}

input[type='date']:focus {
    outline: unset;
}

input[type='datetime-local'] {
    border: 1px solid transparent;
    background-color: #f1f1f180;
    padding: 10px;
    font-size: 15px;
    border-radius: 11px;
}

input[type='datetime-local']:focus {
    outline: unset;
}

input[type="datetime-local"][disabled]::-webkit-inner-spin-button,
input[type="datetime-local"][disabled]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type='password'] {
    border: 1px solid transparent;
    background-color: #006a710a;
    padding: 10px;
    font-size: 16px;
}

input[type='password']:focus {
    outline: unset;
}

.entity-field input, .entity-field select {
    border: 1px solid #2517170d;
}

#main-content > div:nth-child(10) > div.personal-container > div > div > p:nth-child(4) > i > textarea {
    height: 100px;
    background: #006a710a;
}

.searchBox {
    background: #689194 !important;
    color: #083033 !important;
    margin-left: auto;
}

.searchBox::placeholder {
    color: #083033 !important;
}

/* Export CSV */
.ExportCSVButton {
    float: right;
}

/* JSON Syntax Highlight */
pre {
    /* outline: 1px solid #ccc;
    */
    padding: 5px;
    margin: 5px;
    overflow: scroll;
    background: #f1f0ed;
}

.logsRow {
    outline: unset;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

.min_foto {
    width: 36px;
    height: 36px;
    overflow: hidden;
    margin: 3px 0 0 -1px;
    box-shadow: 0 0 0 2px #a1a1a1;
    display: inline-block
}

/* Input Checkbox */
input[type="checkbox"] {
    width: 40px;
    height: 40px;
}

.secretText {
    background: #ddd;
    width: fit-content;
    padding: 3px;
    text-shadow: 0 0 7px rgb(0 0 0);
    color: transparent;
    transition: width 2s linear 1s;
}

.secretText:hover {
    background: unset;
    text-shadow: 0px 0px 0px #1b7178;
    color: #222222
}

/* Classes*/
.classes-grid .header {
    position: fixed;
    width: 367px;
    background: #fffffff2;
    height: 35px;
    z-index: 99;
    color: #217177;
    font-size: 17px;
    font-weight: 400;
    padding-top: 16px;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
}

.header select {
    float: right;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 4px 12px;
    margin-top: -3px;
    background: #4382881f;
}

.detail-pane {
    background: #f9f8f6;
    z-index: 99;
    margin-left: 381px;
    margin-right: 48px;
    position: absolute;
    top: 0px;
    width: -webkit-fill-available;
    padding: 10px;
    box-shadow: 0 0 100px 0 rgba(155, 142, 131, .1);
    border-left: 1px solid #ddd;
    max-width: 600px;
    min-height: -webkit-fill-available;
}

.detail-pane.notification-detail {
    padding: 30px;
    position: fixed;
    height: 100vh;
    overflow: scroll;
}

.detail-pane.notification-detail .close {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #949490;
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: -104px;
    margin-right: 2px;
    float: right;
    letter-spacing: 1px;
    cursor: pointer;
}

.detail-pane .mdc-tab-bar {
    background: #fffffffa;
    z-index: 99;
    margin-left: -11px;
    margin-right: -9px;
    position: fixed;
    top: 21px;
    width: -webkit-fill-available;
    border-left: 1px solid #ddd;
    max-width: 600px;
    padding: 0px 10px;
    border-bottom: 1px solid #ddd;
}


.detail-pane .subject {
    padding: 0px 10px;
    font-weight: 600;
    color: #1b6e77;
    display: inline-block;
}

.detail-pane .class-list .badge.role.ST {
    background: #0096881c;
    color: #009688;
}

.detail-pane .class-list .badge.role.SF {
    background: #ff980029;
    color: #ff9800;
}

.badge.cover {
    background: #f443362e;
    color: #f44336;
}

.detail-pane .overlayForAddingPersistentMember .editTextField {
    background-color: #3f51b514;
}

.detail-pane .overlayForAddingPersistentMember .addButton {
    background-color: #3f51b514;
}

.detail-pane .more-button {
    float: right;
}

.detail-pane .more-button .mdc-menu {
    margin-top: 113px;
    float: right;
    margin-left: calc(100% - 245px);
}

/* Inbox items */
.inbox-task {
    padding: 4px 18px;
    font-size: 14px;
    line-height: 22px;
    border-top: 1px solid #DDD;
    background: #fff;
    cursor: pointer;
    z-index: 2;
}

.inbox-task:last-child {
    border-bottom: 1px solid #DDD
}

.feed-container .forms .min_foto {
    width: 36px;
    height: 36px;
    margin-bottom: 24px;
}

.feed-container h4 {
    font-size: 14px;
    width: calc(100% - 60px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.forms h4 {
    /*height: 2px;*/
    color: #000000;
    font-weight: 500;
    margin-bottom: -15px;
}

.forms h5 {
    height: 0px;
    margin-top: 0px;
    font-weight: 100;
    color: #217177;
}

.forms h5 span {
    height: 0px;
    padding-bottom: 6px;
}

.feed-container h4 span {
    font-weight: 600;
}

.feed-container h5 {
    font-size: 12px;
}

.min_foto {
    width: 36px;
    height: 36px;
    overflow: hidden;
    margin: 3px 0 0 -1px;
    box-shadow: 0 0 0 2px #a1a1a1;
    display: inline-block
}

.mdc-drawer .min_foto {
    position: fixed;
    top: 14px;
    box-shadow: 0px 0px 14px 0px #b7b6b6;
    width: 44px;
    height: 44px;
}

.forms .min_foto {
    float: left;
    margin-right: 14px;
    box-shadow: none;
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.min_foto,
.card p:before {
    border-radius: 50%;
    box-sizing: border-box
}

.recentFeed {
    background: #e6eeef94;
}

.inbox-task.selected {
    background: #7fbec794;
}

/* Notification Badge */
[data-badge] {
    position: relative;
}

[data-badge]:after {
    position: absolute;
    right: 3px;
    top: 3px;
    min-width: 10px;
    min-height: 10px;
    line-height: 10px;
    padding: 0px;
    color: #fff;
    background-color: #bf1f1f;
    font-size: 10px;
    border-radius: 20px;
    content: attr(data-badge);
    border: solid 1px #c93a3a;
}

/* Netwokring */
.device-detail-header {
    margin-top: 40px;
}

.devices-list {
    margin-top: 90px;
    overflow: scroll;
    height: calc(100vh - 79px);
}

.networking-device-item {
    height: 10px !important;
    line-height: 2px;
}

.networking-device-item .enrol-count {
    padding: 10px !important;
    margin-top: -6px;
}

.networkDeviceEditField[disabled] {
    color: rgb(0 0 0 / 68%);
    background-color: #fff0;
}

/* Status Badges */
[td-online-badge] {
    position: relative;
}

[td-online-badge]:before {
    position: absolute;
    left: 7px;
    top: 8px;
    min-width: 10px;
    min-height: 10px;
    line-height: 10px;
    padding: 0px;
    color: #fff;
    background-color: #2ad981;
    font-size: 10px;
    border-radius: 20px;
    content: attr(data-badge);
    border: solid 1px #13ff89;
}

[td-offline-badge] {
    position: relative;
}

[td-offline-badge]:before {
    position: absolute;
    left: 7px;
    top: 11px;
    min-width: 10px;
    min-height: 10px;
    line-height: 10px;
    padding: 0px;
    color: #fff;
    background-color: #e93253;
    font-size: 10px;
    border-radius: 20px;
    content: attr(data-badge);
    border: #e93253;
}

.addMemberButton.addDeviceButton {
    margin-top: -8px;
    background: #ddd0;
    border: none;
    margin-left: -4px;
}

.header.networkingDeviceList {
    height: 72px;
}

.header .devicesSearch {
    background-color: #006a711c;
    width: 351px;
    border-radius: 8px;
    margin-top: -5px;
    padding: 5px 10px;
}

.device-notes-edior-outer {
    background: white;
}

#network-device-editor-container {
    min-height: calc(100vh - 172px);
}

.banner {
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: auto;
}

.banner.fee {
    background-color: #F9E1E1;
    color: #BB0D0D;
    border: 1px solid #EBCCD1;
}

.banner.conditions {
    border: 1px solid #FAEBCC;
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.banner.ex {
    color: #0BA5DD;
    background-color: #D9F3FD;
}

.right-text-badge {
    float: right;
    background: #4caf50;
    padding: 4px 21px;
    width: 29px;
    color: white;
    text-align: center;
    border-radius: 14px;
    margin-top: -6px;
}

.right-text-badge.in {
    background: #4caf50;
}

.right-text-badge.out {
    background: #2196f3;
}

.areas-header {
    position: fixed;
    width: calc(100vw - 270px);
    margin-top: -29px;
    background: #fffffff2;
    height: 35px;
    /*z-index: 99;*/
    color: var(--blue);
    font-size: 17px;
    font-weight: 400;
    padding-top: 16px;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
    box-shadow: 1px 0px 4px 0px #ddd;
    z-index: 1;
}

.areas-header .header .devicesSearch {
    float: right;
}

.cards-areas-grid {
    padding-top: 22px;
    height: calc(100vh - 51px);
    overflow: scroll;
}

.cards-areas-grid .mdc-card {
    cursor: pointer;
    border-radius: 16px;
    margin: 1px;
}

.cards-areas-grid .mdc-card .mdc-card__title.mdc-card__title--large {
    font-size: 19px;
    color: black;
    letter-spacing: -0.012em;
    line-height: 25px;
    padding: 12px 14px 0px;
    display: block;
    margin-block: 0px;
    font-weight: 200;
}

.cards-areas-grid .mdc-card .mdc-card__subtitle {
    font-size: 14px;
    letter-spacing: -0.012em;
    padding: 0px 14px 13px;
    display: block;
    margin-block: 0px;
    font-weight: normal;
}

.header-badge {
    border-radius: 8px;
    text-align: center;
    padding: 5px 11px;
    font-weight: 500;
    font-size: 14px;
    margin: -4px 7px 7px;
    background: #1b4a6b26;
    color: var(--blue);
    cursor: help;
}

.table-wrapper:not(.mini) {
    border-radius: 14px;
    margin-top: 0px;
    width: calc(100vw - 254px);
    height: calc(100vh - 28px);
    position: fixed;
    overflow: scroll;
}

.table-wrapper table {
    border-spacing: 0px;
    border-collapse: separate;
}

.table-wrapper .fancy-table {
    border-radius: 16px;
    background: hsla(0, 0%, 100%, .75);
    box-shadow: 0 0 1px rgb(0 0 0 / 20%), 0 1px 2px rgb(0 0 0 / 15%), 0 2px 4px rgb(0 0 0 / 10%);
}

.table-wrapper.mini .fancy-table {
    margin: 10px;
}

.table-wrapper:not(.mini) .fancy-table {
    width: calc(100vw - 329px);
    margin: 33px 30px;
}

.table-wrapper:not(.mini) .fancy-table:nth-child(1) {
    margin-top: 55px;
}

.table-wrapper thead tr th {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: 'Inter var', sans-serif;
    text-indent: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: left;
    font-size: .75rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .05em;
    padding: 0.75rem 1.5rem;
    border-bottom: 2px solid #ddd;
}

.table-wrapper tbody tr td {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: 'Inter var', sans-serif;
    text-indent: 0;
    border-collapse: collapse;
    cursor: pointer;
    box-sizing: border-box;
    border-width: 0;
    white-space: nowrap;
    padding: 4px 1.5rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #354052;
}

.table-wrapper tbody tr td.underlined {
    text-decoration: underline;
}

.table-wrapper tbody tr:nth-child(2n) {
    background: #f7f7f7;
}

.table-wrapper .fancy-table:not(.optimizedForSideDetail) tbody tr:hover td {
    color: var(--blue);
    background: #8aa2b373;
    text-decoration: underline;
    text-decoration-color: #5c7b90;
}

.table-wrapper .fancy-table.optimizedForSideDetail tbody tr:hover td {
    cursor: default;
}

.entity-fields-table tbody tr td {
    background: #fdfcfc;
    border-radius: 16px;
}

.image-header img {
    width: 381px;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.mdc-drawer__content, .mdc-drawer__header, .mdc-drawer__header .mdc-drawer__title {
    color: #1b4a6b;
}

.mdc-drawer__header .mdc-drawer__subtitle {
    color: #b7bcd9;
}

.mdc-drawer__content .mdc-list-item__graphic, .mdc-drawer__content .mdc-list-item__text {
    color: #151313;
}

.mdc-drawer__content .mdc-list-item:hover {
    background: #e1e6e8;
}

.mdc-drawer__content .mdc-list-item--activated {
    background: #e1e7ea;
}

.mdc-drawer__content .mdc-list-item--activated .mdc-list-item__text {
    color: var(--blue);
}

.mdc-drawer__content .mdc-list-item {
    border-radius: 10px
}

thead tr {
    position: sticky;
    top: 20px;
    background-color: #f1f1f1;
    z-index: 9;
}

.table-wrapper.mini thead tr {
    top: 0px;
}

.detail-pane.side-detail {
    right: 0px;
    width: 344px;
    margin-right: 0px;
    top: 23px;
}

.detail-pane.side-detail .inbox-task {
    border: 1px solid #f2f0ed;
    border-radius: 16px;
    box-shadow: 0 0 1px rgb(0 0 0 / 20%), 0 1px 2px rgb(0 0 0 / 15%), 0 2px 4px rgb(0 0 0 / 10%);
    cursor: default;
    margin: 10px 0px;
}

.detail-pane.side-detail .inbox-task h5 span {
    color: var(--blue);
}

.detail-pane.side-detail .inbox-task h4 span {
    color: #000000;
}

.table-wrapper:not(.mini) .fancy-table.optimizedForSideDetail {
    width: calc(100vw - 694px);
    max-width: 900px;
}

.table-wrapper.mini .fancy-table.optimizedForSideDetail {
    width: calc(100% - 45px);
}

.entity-fields-table {
    margin: 7px -21px;
    width: -webkit-fill-available;
}

.entity-fields-table tbody tr td {
    width: 50%;
    padding: 1px 10px;
}

.dwimg {
    width: 100%;
    /* height: auto;
    */
    object-fit: fill;
}

/* Nav Bar */
.mdc-drawer {
    color: #444;
    position: fixed !important;
    border-color: rgba(0, 0, 0, 0.12);
    border-radius: 0;
    z-index: 6;
    width: 256px;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100%;
    border-right-width: 1px;
    border-right-style: solid;
    overflow: hidden;
    transition-property: transform, -webkit-transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    left: 0;
    right: initial;
    display: flex;
}

.mdc-drawer .mdc-drawer__header {
    flex-shrink: 0;
    box-sizing: border-box;
    min-height: 64px;
    padding: 0 16px 4px;
    color: #ffffff;
    background: #ffffff;
}

.mdc-drawer .mdc-drawer__header .mdc-drawer__title {
    -webkit-font-smoothing: antialiased;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    line-height: normal;
    margin-bottom: -20px;
    color: #1b4a6b;
    background: #ffffff;
}

.mdc-drawer .mdc-drawer__header .mdc-drawer__subtitle {
    margin-bottom: 0px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    text-transform: none;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    text-decoration: none;
    color: #7490ab;
    font-weight: 400;
    margin-top: 22px;
}

.mdc-drawer .mdc-drawer__content {
    height: 100%;
    overflow-y: auto;
    background: #ffffff;
}

.mdc-drawer .mdc-drawer__content .mdc-list {
    -webkit-font-smoothing: antialiased;
    line-height: 1.5rem;
    margin: 0;
    padding: 8px 0;
    list-style-type: none;
}

.mdc-drawer .mdc-drawer__content .mdc-list-item {
    list-style-type: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    height: calc(48px - 2 * 4px);
    margin: 8px 8px;
    padding: 0 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    will-change: transform, opacity;
    border-radius: 10px;
    text-decoration: none;
}

.mdc-drawer .mdc-list-item .mdc-list-item__graphic {
    list-style-type: none;
    cursor: pointer;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    object-fit: cover;
    margin-left: 0;
    margin-right: 32px;
    width: 24px;
    height: 24px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    pointer-events: none;
    display: inline-flex;
}

.mdc-drawer .mdc-list-item .mdc-list-item__text {
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    line-height: 1.375rem;
    text-transform: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
    text-decoration: none;
}

.mdc-drawer .mdc-list-item:nth-last-child(1) {
    bottom: 3px;
    position: absolute;
    width: -webkit-fill-available;
}

.mdc-layout-grid .mdc-layout-grid__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    height: 100%;
    padding: 29px 21px 29px 24px;
}

.mdc-card {
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
    display: flex;
    flex-direction: column;
    box-sizing: border-box
}


fieldset {
    margin: 61px 40px;
}

form input[type='submit'] {
    width: 34%;
    padding: 17px;
    margin: 20px;
    cursor: pointer;
    background: var(--blue);
    color: var(--yellow);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    border: navy;
    border-radius: 14px;
    bottom: 20px;
    position: absolute;
    right: 0px;
    box-shadow: -1px 7px 20px 16px #d1d1d1;
}


.topBarActionButton {
    position: fixed;
    right: 10px;
    top: 9.5px;
    padding: 0 16px 0 16px;
    height: 31px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background: var(--blue);
    color: #ffffff;
}

.topBarActionButton .material-icons {
    font-size: 20px;
}

.topBarActionPopover {
    background: #f1f0ed;
    border-radius: 16px;
    width: 300px;
    height: 400px;
    position: fixed;
    right: 25px;
    top: 60px;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.topBarActionPopoverArrowUp {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    right: 60px;
    top: 55px;
    z-index: 9;
    position: fixed;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #b5c4cf;
}

.topBarActionPopover h3 {
    margin-top: 0px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding: 20px 20px;
    border-bottom: 1px solid #e0e0e0;
    background: #ffffff;
}

.topBarActionPopover .propertyInput {
    background: #ffffff;
    margin: 0px 10px;
    width: 255px;
}

.topBarActionPopover .actionButton {
    background: var(--blue);
    border: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 16px;
    position: absolute;
    width: 280px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
}

.areas-tree {
    background: #ffffff;
    box-shadow: 2px -6px 13px 0 #d0d0d04a;
    height: calc(100% - 86px);
    margin: 23px 0;
    padding-bottom: 20px;
    padding-top: 10px;
    position: fixed;
    width: 400px;
    overflow: scroll;
}

.areas-detail {
    margin-left: 422px;
    position: fixed;
    margin-top: 19px;
    color: var(--blue);
    width: calc(100vw - 674px);
    overflow: scroll;
    height: 100%;
}

.subheader {
    cursor: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-rendering: auto;
    font-size: 1.125rem;
    line-height: 1.4;
    color: #a6a6a6;
    font-weight: 400;
    margin-top: .625rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.content .summary-item {
    background: #fff;
    border: 0.1px solid #ddd;
    color: #333;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    text-align: center;
    width: calc((100% / 3) - 8px);
    border-radius: 16px;
    margin: 0 5px -12px;
}

.content .summary-item:first-child {
    margin-left: 0;
}

.content .summary-item:last-child {
    margin-right: 0;
}

.content .summary-item .infographic .value {
    clear: both;
    display: block;
}

.content .summary-item .infographic .value {
    font-size: 2.25rem;
    font-weight: bold;
}

.action-button {
    border-radius: 26px;
    border: 1px solid #ddd;
    padding: 7px 10px;
    cursor: pointer;
    transform: rotate(91deg);
    font-size: 20px;
    top: 16px;
    right: 14px;
    position: absolute;
    background-color: #ffffff;
}

.ReactModalPortal div.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: rgb(35 35 35 / 18%) !important;
    z-index: 99 !important;
}

.ReactModalPortal div.ReactModal__Overlay.ReactModal__Overlay--after-open .ReactModal__Content {
    height: 300px;
    width: 500px;
    margin: auto;
    background: #f2f2f2 !important;
    padding: 0px !important;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.modalContent .material-icons {
    font-size: 20px;
}

.modalContent {
    padding: 0 16px 0 16px;
}

.modalContent h3 {
    border-bottom: 1px solid #e0e0e0;
    margin-top: 0;
    padding-bottom: 12px;
    padding-top: 15px;
    color: var(--blue);
}

.modalContent .propertyInput {
    background: #ffffff;
    margin: 0px 10px;
    width: -webkit-fill-available;
}

.modalContent .actionButton {
    background: var(--blue);
    border: none;
    border-radius: 12px;
    bottom: 16px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    height: 37px;
    letter-spacing: 0;
    padding: 10px;
    position: absolute;
    right: 16px;
    width: 81px;
}

.modalContent .actionButton.leading {
    margin-right: 90px;
    background: #7a7a7a;
}

.modalContent .actionButton.trailing {
    background: var(--yellow);
    color: var(--blue);
}

/* Activity List */
.activity-list {
    background: white;
    border: 0.1px solid #ddd;
    border-radius: 16px;
    margin-bottom: 69px;
}

.home-container .activity-list {
    margin-bottom: 0px;
}

.activity-list td {
    padding: 5px 10px;
}

.activity-list td .meta {
    font-size: 12px;
    color: #a6a6a6;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

.activity-list td .description {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

/* Settings */
.settings {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0;
}

.settings-container {
    padding-top: 60px;
}

.settings-container h2 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    --tw-text-opacity: 1;
    color: #18181a;
}

.settings-container .meta {
    margin: .5rem 0 0;
    max-width: 56rem;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #71717a;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1.3rem;
}

.settings-body-container-body table {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #444;
    border-collapse: separate;
    border-spacing: 0;
    background: hsla(0, 0%, 100%, .75);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .1);
    margin: 29px 0 29px;
    width: 100%;
    max-width: 56rem;
}

.settings-body-container-body table th {
    border-collapse: collapse;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    padding: 0.75rem 1.5rem;
    text-align: left;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #71717a;
}

.settings-body-container-body table td {
    border-collapse: collapse;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    white-space: nowrap;
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #303030;
    font-weight: 500;
    tab-size: 4;
}

.settings.device-types .settings-body-container-body table td {
    padding: 0.5rem 0.5rem;
    text-align: center;
}

.settings.device-types .settings-body-container-body table td input,
.settings.device-types .settings-body-container-body table td select {
    padding: 7px;
    width: 124px;
    border: 1px solid #efefef;
    border-radius: 11px;
}


.settings-body-container {
    max-width: 56rem;
    margin: 0 auto;
}

.settings .section-action-button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 26px;
    cursor: pointer;
    font-size: 20px;
    margin-top: -10px;
    padding: 7px 11px;
    float: right;
    color: transparent;
    text-shadow: 0 0 0 var(--blue);
}

.areas-detail .table-wrapper.mini .fancy-table {
    margin: 27px 10px;
}

.areas-detail .table-wrapper.mini .fancy-table:last-child {
    margin-bottom: 70px;
}

.header .trash-action {
    border: 1px solid #ddd;
    border-radius: 26px;
    color: transparent;
    cursor: pointer;
    float: right;
    font-size: 20px;
    margin-top: -11px;
    background: #f44336;
    padding: 5px 9px;
    text-shadow: 0 0 0 #ffffff;
    margin-right: 6px;
}

.szh-menu {
    border-radius: 10px;
}

.szh-menu__item--hover {
    border-radius: 9px;
}

.szh-menu__item:nth-child(3).szh-menu__item--hover {
    border-radius: 0;
}

.szh-menu__item:nth-child(2).szh-menu__item--hover {
    border-radius: 9px 9px 0 0;
}

.szh-menu__item:nth-child(4).szh-menu__item--hover {
    border-radius: 0 0 9px 9px;
}

.szh-menu__item {
    padding: 8px 20px;
}

.menu-button-action {
    background-color: #1b4a6b;
    border: 1px solid #ddd;
    border-radius: 26px;
    color: transparent;
    cursor: pointer;
    font-size: 20px;
    padding: 1px 11px;
    text-shadow: 0 0 0 #ffffff;
    font-weight: 900;
    float: right;
}

.login-container {
    background-color: #fafafa;
    display: grid;
    max-width: 345px;
    padding: 23px;
    margin: calc(50vh - 156px) auto auto;
    border-radius: 16px;
    box-shadow: 0px 0px 3px 0px #dddbdb
}
.login-container button {
    outline: none;
    padding: 11px 10px;
    background: var(--blue);
    border-radius: 11px;
    margin-top: 16px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border: none;
}
.login-container input[type="text"] {
    margin-bottom: 10px;
}
.login-container h3 {
    margin-bottom: 17px;
    margin-top: -5px;
}
.login-container .error {
    color: red;
    font-size: 14px;
    padding-top: 10px;
    user-select: none;
    cursor: help;
}

.home-leading-container {
    width: 383px;
    position: fixed;
    margin-top: 22px;
    margin-left: 16px;
}
.btn.csv {
    background-color: #fabc05;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #1b4a6b;
    cursor: pointer;
    font-size: 13px;
    font-weight: 900;
    padding: 5px 11px;
    text-decoration: none;
    text-shadow: 0 0 0 #fff;
    margin-right: 10px;
    float: right;
    margin-top: -5px;
    margin-left: -10px;
}

/* Breadcrumb */
.breadcrumbs {
    border: 1px solid #cbd2d9;
    border-radius: 16px;
    display: inline-flex;
    overflow: hidden;
    margin-top: 48px;
    margin-left: 31px;
    margin-bottom: -9px;
}

.breadcrumbs__item {
    background: #fff;
    color: #333;
    outline: none;
    padding: 0.45em 0.75em 0.45em 1.25em;
    position: relative;
    text-decoration: none;
    transition: background .2s linear;
}

.breadcrumbs__item:hover:after,
.breadcrumbs__item:hover {
    background: #edf1f5;
}

.breadcrumbs__item:focus:after,
.breadcrumbs__item:focus,
.breadcrumbs__item.is-active:focus {
    background: #323f4a;
    color: #fff;
}

.breadcrumbs__item:after,
.breadcrumbs__item:before {
    background: white;
    bottom: 0;
    clip-path: polygon(50% 50%, -50% -50%, 0 100%);
    content: "";
    left: 100%;
    position: absolute;
    top: 0;
    transition: background 0.2s linear;
    width: 1em;
    z-index: 1;
}

.breadcrumbs__item:before {
    background: #cbd2d9;
    margin-left: 1px;
}

.breadcrumbs__item:last-child {
    border-right: none;
}

.breadcrumbs__item.is-active {
    background: #edf1f5;
}
